$font-family: 'Roboto';
$background-color: white;
$text-color: black;


$breakpoint-xs: 320px;
$breakpoint-sm: 640px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1536px;